.item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 71px;
  height: 71px;
}

.num {
  position: absolute;
  z-index: var(--zIndex-md);
  font: var(--font-normal-18);
}

.icon {
  display: none;
  position: absolute;
  top: 0;
  left: 65%;
  right: 0;
  bottom: 0;
  z-index: var(--zIndex-sm);
}

.icon.completed {
  display: block;
}
.filter {
  filter: drop-shadow(1px 1px 4px var(--shadow));
}
