.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 0 var(--spacing-md) 0;
}

.item {
  width: 100%;
  max-width: 90px;
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: var(--spacing-sm);
}

.text {
  text-align: center;
}

.activeText {
  color: var(--orange);
}

.active {
  fill: var(--orange);
  background-color: var(--light);
  opacity: 0.25;
  border-radius: 25%;
}
